<script type="text/javascript">
  $(document).ready(function() {
       $('#institution_table').dataTable();
  });
</script>

<h1>Listing institutions</h1>

<table id="institution_table" class="ui-widget-container ui-state-default ui-corner-all">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Email</th>
    <th>Format</th>
    <th>Checksum</th>
  </tr>
  </thead>
  <tbody class="ui-widget-content">
<% @institutions.each do |institution| %>
  <tr>
    <td class="ui-state-default ui-corner-all"><%= link_to '<span class="ui-icon ui-icon-pencil"></span>', edit_institution_path(institution) %></td>
    <td class="ui-state-default ui-corner-all"><%= link_to '<span class="ui-icon ui-icon-trash"></span>', institution, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= institution.name %></td>
    <td><%= institution.email %></td>
    <td><%= institution.symbology_name %></td>
    <td><%= institution.checksum ? 'Yes' : 'No' %></td>
  </tr>
<% end %>
<tr>
  <td class="ui-state-default ui-corner-all"><%= link_to '<span class="ui-icon ui-icon-plus"></span>', new_institution_path %></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
  </tbody>
</table>
